<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>席選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="seat-selection-header">
        <h1>Your Seat Number</h1>
    </div>
    <div class="seats-list">
        {% for seat in seats %}
            <a class="seat-link" href="/menu/{{ seat }}"> {{ seat }}</a>
        {% endfor %}
    </div>
</body>
</html>